
  #Logo{
    position: absolute;
    top: 8px;
    left: 16px;
    width: 200px;
  }
/* p{
  font-size: 50px;
 }
 #track_btn{
  text-align: center;
  
 }
 #track_text{
  text-align: left;
 } */

 .container { 
  margin-top: -200px;

}

.App .App-header{
  padding-top: 90px;
  padding-bottom: 90px;
}