
  #Logo{
    position: absolute;
    top: 8px;
    left: 16px;
    width: 200px;
  }
.App-header{
  background-color: RGB(193,154,108);
}
p{
  font-size: 50px;
}
#track_btn{
  text-align: center;

}
#track_text{
  text-align: left;
}